<div class="form form-stacked">
  <%= form_for @user, url: users_path do |f| %>
    <div class="field">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
      <%= f.text_field      :username, placeholder: "Username", autofocus: true%>
      </div><br>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <%= f.email_field     :email,    placeholder: "Email" %>
      </div><br>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-key"></i></span>
        <%= f.password_field  :password, placeholder: "Password" %>
      </div><br>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-key"></i></span>
        <%= f.password_field  :password_confirmation, placeholder: "Confirm password" %>
      </div><br>
      <%= f.file_field      :image %>
    </div>
    <div class="action">
      <%= f.submit "Sign Up", class: "btn btn-success btn-primary" %>
    </div>
  <% end %>
</div>

