<div class="image">
    <%= image_tag "/screenshots/#{@page.image}", class: "annotatable" %>
</div>


<div class="feedback-bar">
<div class="row">
  <div class="large-centered">
    <%= form_for :comment, url: comments_path do |f| %>
        <%= f.label :comment_one, "What do you like about the Landing Page Optimization on this page?" %>
        <%= f.text_field :comment_one %>
        <%= f.label :comment_two, "What would you change or test on this landing page?" %>
        <%= f.text_field  :comment_two %>
        <%= hidden_field_tag :page_id, "1" %>
        <%= f.submit "Send Feedback", class: 'button' %>
    <% end %>
  </div>
</div>
</div>



