<% if FileTest.exist?("#{Rails.root}/public/screenshots/#{@page.image}") %>

  <div class="image" id="firstStop">
    <%= image_tag "/screenshots/#{@page.image}", class: "cropbox" %>
  </div>
  <div class="updated_on">Page captured on <%= @page.created_at.strftime("%B %l %Y, %I:%M:%S %p%z")%></div>


  <div class="feedback-bar">
    <div class="row">
      <div class="large-centered" id="secondStop">
        <%= form_for :feedback, url: feedbacks_path do |f| %>
        <%= f.label :first_answer, "What do you like about the Landing Page Optimization on this selection?" %>
        <%= f.text_field :first_answer %>
        <%= f.label :second_answer, "What would you change or test on this selection?" %>
        <%= f.text_field  :second_answer %>
        <%= hidden_field_tag :page_id, "#{@page.id}" %>
        <%= hidden_field_tag :x_coordinate %>
        <%= hidden_field_tag :y_coordinate %>
        <%= hidden_field_tag :width %>
        <%= hidden_field_tag :height %>
        <%= f.submit "Send Feedback", class: 'button', id: "lastStop" %>
        <% end %>
      </div>
    </div>
  </div>

  <% unless cookies[:joyrideEnabled] == "false" %>
  <ol class="joyride-list" data-joyride>
    <li data-text="Sure" data-options="tipAnimation:fade">
      <p>We're struggling with A/B testing <%= @page_url %>. Can you help us?</p>
      <a class="disableTooltips">Stop showing tooltips</a>
    </li>
    <li data-text="Next" data-options="tipAnimation:fade;">
      <p>Here's a screenshot of the landing page. You can select areas of the page and leave annotations.</p>
    </li>
    <li data-text="Let's get started.">
      <p>That's it!</p>
    </li>
  </ol>
  <% end %>

<% else %>

  "Generating screenshot... reload this page in a bit"

<% end %>